[submodule "vim/bundle/command-t"]
  path = vim/bundle/command-t
  url = git://github.com/wincent/Command-T.git
  ignore = untracked
[submodule "vim/bundle/endwise"]
	path = vim/bundle/endwise
	url = git://github.com/tpope/vim-endwise.git
